@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import './Media.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to right top, #693818, #7c3719, #90321e, #a62927, #bb1734);
    overflow-x: hidden;
    overflow-y: scroll;
}